<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Playfair+Display|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container-fluid">
  <header>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </nav> -->
    <!-- <div class="title">
        <h1>Hello</h1>
    </div>   -->
    <main class="row">
      <img src="/images/vector-avatar.png" alt="" class="img-responsive">
      <div>
        <p>Hi, I am a web developer</p>
        <a href="#" class="btn btn-primary">Hire me</a>
        </div>
    </main>
  </header>
  <article>
    <section>
      <div class="title">
          <h1>About Me</h1>
      </div>
      <div id="about">
        <img src="/images/about-us.png" alt="" class="img-responsive">
        <div class="about">
          <p>Nunc a imperdiet eros. Maecenas bibendum accumsan mi, vitae vehicula massa aliquet vitae. Nam ultrices euismod lorem. Maecenas convallis varius magna sed accumsan. Pellentesque volutpat fermentum massa, in lacinia eros lobortis id. Nullam vel metus in quam varius mollis. Vivamus rutrum varius volutpat.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="title">
          <h1>Services</h1>
      </div>
      <div id="services">
          <div class="service">
          <i class="fa fa-cogs"></i>
          <h2>Web Development</h2>
          <p>Nunc a imperdiet eros. Maecenas bibendum accumsan mi, vitae vehicula massa aliquet vitae. Nam ultrices euismod lorem.</p>
        </div>
        <div class="service">
          <i class="fa fa-paint-brush"></i>
          <h2>Web Design</h2>
          <p>Nunc a imperdiet eros. Maecenas bibendum accumsan mi, vitae vehicula massa aliquet vitae. Nam ultrices euismod lorem.</p>
        </div>
        <div class="service">
          <i class="fa fa-magic"></i>
          <h2>UI/UX Design</h2>
          <p>Nunc a imperdiet eros. Maecenas bibendum accumsan mi, vitae vehicula massa aliquet vitae. Nam ultrices euismod lorem.</p>
        </div>
      </div>  
    </section>
  </article>
  <footer></footer>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>
</html>